<nav class="nav">
    <h1><a routerLink="/">E-COMM</a></h1>
    <div class="search" *ngIf="menuType === 'default'">
        <input type="search" placeholder="Search for product...">
        <button>Search</button>
    </div>
    <div [ngSwitch]="menuType">
        <ul *ngSwitchCase="'default'">
            <li><a routerLink="">Home</a></li>
            <li><a routerLink="seller-auth">Seller</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">Cart(0)</a></li>
        </ul>
        <ul *ngSwitchCase="'seller'">
            <li><a routerLink="seller-product-add">Add product</a></li>
            <li><a routerLink="seller-home">List</a></li>
            <li><a href="#">{{sellerName | titlecase}}</a></li>
            <li><a class="cursor-pointer" (click)="logOut()">Logout</a></li>
        </ul>
    </div>
</nav>